{% if _id == 'accordion' %}
    <script>
        $(function () {
            $('#accordion').dcAccordion({
                eventType: 'click',
                autoClose: false,
                saveState: true,
                disableLink: true,
                showCount: false,
                speed: 'fast'
            });
        })
    </script>
{% endif %}
<ul id="{{ _id }}" class="{{ _class }}">

    {% set _class = 'child_menu' %}
    {% set _id = '' %}

    {% for item in categories_tree %}
        <li>
            <a href="{{ item.href }}" {% if active == item.category_id%} class="active" {% endif %} >{{ item.name }}</a>
            {% if not item.childs is null %}
                {{ include(_self, {categories_tree: item.childs}) }}
            {% endif %}
        </li>
    {% endfor %}
</ul>

